 .topnav {
  background-color: #000;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: azure;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D8BFD8;
  color: white;
}
